:root {
    --color-light: #00ACC1;
    --color-dark: #006E7D;
    --color-active: #FFB673;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #000;
    overflow-wrap: break-word;
}

.container {
    max-width: 100%;
    min-width: 320px;
}

.wrap {
    max-width: 1500px;
    min-width: 290px;
    margin: 0 auto;
    padding: 0 15px;
}