.content__wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 462px));
    grid-gap: 57px;
    margin-top: 85px;
    margin-bottom: 85px;
}

.content__link {
    grid-column: span 1;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
    text-decoration: none;
    color: #fff;
    background: url('https://fakeimg.pl/1600x900/00ACC1/?text=%20') center top no-repeat var(--color-light);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.content__link::after {
    content: "";
    background-image: linear-gradient(0deg, rgb(26, 26, 26) 0%, rgba(26, 26, 26, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content__link:nth-child(1) {
    padding-top: 44.8%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.content__link:nth-child(1) i {
    font-size: 100px;
}

.content__link:nth-child(1) span {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 24px;
}

.content__link:nth-child(4) {
    padding-top: 77.9%;
}

.content__link:nth-child(5) {
    padding-top: 77.9%;
}

.content__link:nth-child(6) {
    padding-top: 77.9%;
}

.content__link i {
    align-self: flex-start;
    display: block;
    font-size: 80px;
    min-width: 100%;
    margin-bottom: 30px;
    transition-duration: 500ms;
    transition-property: color;
}

.content__link span {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 16px;
    text-transform: uppercase;
    transition-duration: 500ms;
    transition-property: color;
}

.content__link:hover span,
.content__link:hover i {
    color: var(--color-active);
}

@media (max-width: 1280px) {
    .content__wrap {
        margin-top: 40px;
        margin-bottom: 40px;
        grid-gap: 20px;
    }

    .content__link span {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 8px;
    }

    .content__link:nth-child(1) span {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 12px;
    }
    
}

@media (max-width: 980px) {
    .content__wrap {
        grid-template-columns: repeat(4, minmax(100px, 462px));
    }

    .content__link {
        grid-column: span 2;
        padding-top: 73%;
    }

    .content__link:nth-child(1) {
        grid-column: 1 / -1;
    }

    .content__link:nth-child(6) {
        grid-column: 1 / -1;
    }
}

@media (max-width: 768px) {
    .content__link {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 580px) {
    .content__wrap {
        grid-template-columns: 1fr;
    }

    .content__link {
        grid-column: 1 / -1;
        padding-top: 50%;
    }

    .content__link span {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 4px;
    }
}