.header {
    background: url('https://fakeimg.pl/1600x900/00ACC1/?text=%20') center top no-repeat var(--color-light);
    background-size: cover;
}

.header__wrap {
    padding-bottom: 65px;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.logo__link {
    /* display: block; */
    padding: .5em;
    background-color: var(--color-dark);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .5em;
    color: var(--color-light);
}

.header__top {
    display: grid;
    grid-template-columns: 224px 1fr;
    grid-column-gap: 20px;
    padding-top: 40px;
    align-items: center;
}

.header__info {
    margin-top: 16.6%;
    margin-bottom: 5%;
}

.header__title {
    color: var(--color-dark);
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.header__text {
    text-align: center;
}

.header__link {
    font-size: 30px;
    line-height: 75px;
    color: var(--color-active);
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 12px;
    transition-duration: 500ms;
    transition-property: letter-spacing;
}

.header__link:hover {
    letter-spacing: 15px;
}

.header__btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.header__btn i {
    color: var(--color-dark);
    font-size: 10em;
    animation-name: animateArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media (max-width: 1280px) {
    .header__title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 18px;
    }
}

@media (max-width: 768px) {
    .header__top {
        grid-template-columns: auto;
        justify-items: center;
    }

    .header__logo {
        margin-bottom: 15px;
    }
}

@media (max-width: 580px) {
    .header__title {
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 9px;
    }

    .header__link {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 6px;
    }

    .header__link:hover {
        letter-spacing: 9px;
    }
}

@keyframes animateArrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}