.instagram {
    background: url('https://fakeimg.pl/1600x900/00ACC1/?text=%20') center top no-repeat var(--color-light);
    background-size: cover;
}

.instagram__wrap {
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}

.instagram__title {
    color: var(--color-dark);
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.instagram__text {
    text-align: center;
}

.instagram__link {
    font-size: 30px;
    line-height: 75px;
    color: var(--color-active);
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 12px;
    transition-duration: 500ms;
    transition-property: letter-spacing;
}

.instagram__link:hover {
    letter-spacing: 15px;
}


@media (max-width: 1280px) {
    .header__title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 18px;
    }
}

@media (max-width: 580px) {
    .instagram__title {
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 9px;
    }

    .instagram__link {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 6px;
    }

    .instagram__link:hover {
        letter-spacing: 9px;
    }
}
