.menu__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;    
}

.menu--footer .menu__list {
    justify-content: flex-start;
}

.menu__item {
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 6.3px;
    font-weight: 600;
    color: var(--color-dark);
    margin-left: 65px;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-dark);
    transition-property: color;
    transition-duration: 500ms;
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus {
    color: var(--color-active);
}

@media (max-width: 1280px) {
    .menu__item {
        margin-left: 30px;
        letter-spacing: 3px;
    }
}

@media (max-width: 980px) {
    .menu__item {
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .menu__list,
    .menu--footer .menu__list {
        justify-content: center;
    }
}