.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials__link i {
    color: var(--color-dark);
    font-size: 26px;
    transition-property: color;
    transition-duration: 500ms;
}

.socials__link:hover i,
.socials__link:active i,
.socials__link:focus i {
    color: var(--color-active);
}

@media (max-width: 768px) {
    .socials__link i {
        margin: 15px;
    }
}